<div class="container">
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card shadow-effect" routerLink="categories">
        <div class="card-body text-center">
          <h2 class="text-success font-weight-bold">Categorie</h2>
          <h2 class="mt-3 text-white">
            <i class="fas fa-solid fa-clipboard icon"></i>
          </h2>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
          <i class="fa-solid fa-shield-halved"></i>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card shadow-effect" routerLink="posts">
        <div class="card-body text-center">
          <h2 class="text-success font-weight-bold">Posts</h2>
          <h2 class="mt-3 text-white">
            <i class="fas fa-solid fa-file-image icon"></i>
          </h2>
          <p>Lorem ipsum Your Post Here sit amet consectetur.</p>
          <i class="fa-solid fa-shield-halved"></i>
        </div>
      </div>
    </div>
  </div>
</div>
